:root{
    --color-pri-:#fcdb00;
    --text-color-pri-:#010101;
    --text-color-sec-: #313841;
    --para-color-:#555555;
    --para-sec-color-:#898989;
    --color-white-:#ffffff;
    --color-dark-:#000;
}